html, body {
  margin: 0;
  padding: 0;
  background-color: #0CC0DF;
}
canvas {
  display: block;
}

#cabecalho{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
}

#jogo{
  display: flex;
  justify-content: center;
  padding: 10px;
}

#rodape{
  display: flex;
  justify-content: center;
}

img{
  width: 90%;
  height: 90%;
}